<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">
                                <span data-feather="file"></span>
                                Go To App
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 [routerLink]="['/reservations/all', '']"
                        class="clickable sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Reservations
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'requested']">
                                <span data-feather="file"></span>
                                New
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'edited']">
                                <span data-feather="shopping-cart"></span>
                                Edited
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'upcoming']">
                                <span data-feather="users"></span>
                                Upcoming
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'confirmed']">
                                <span data-feather="bar-chart-2"></span>
                                Confirmed
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'pending']">
                                <span data-feather="layers"></span>
                                Pending
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Old Reservations
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'canceled']">
                                <span data-feather="file-text"></span>
                                Canceled
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/reservations/all', 'arhived']">
                                <span data-feather="file-text"></span>
                                Arhived
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Other
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/administration/profiles'>
                                <span data-feather="file-text"></span>
                                Profiles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Registrations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/administration/messages">
                                <span data-feather="file-text"></span>
                                Messages
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><a class="nav-link active" aria-current="page" href="administration">
                        <span data-feather="home"></span>
                        Dashboard
                    </a></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a routerLink='/apartments' class="btn btn-sm btn-outline-secondary">Apartments</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Admins</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>
            <h4 class="text-danger">Calendars</h4>
            <!-- <div class="row mb-2">
                <div class="col-1 p-4 border rounded-left text-center"><strong>Date</strong></div>
                <div class="col-1 p-4 border text-center">10 Feb</div>
                <div class="col-1 p-4 border text-center">11 Feb</div>
                <div class="col-1 p-4 border text-center">12 Feb</div>
                <div class="col-1 p-4 border text-center">13 Feb</div>
                <div class="col-1 p-4 border text-center">14 Feb</div>
                <div class="col-1 p-4 border text-center">15 Feb</div>
                <div class="col-1 p-4 border text-center">16 Feb</div>
                <div class="col-1 p-4 border text-center">17 Feb</div>
                <div class="col-1 p-4 border text-center">18 Feb</div>
                <div class="col-1 p-4 border rounded-right text-center">19 Feb</div>
            </div>
            <div class="row text-light">
                <div class="col-1 p-4 border rounded-left text-center text-dark"><strong>Lilly 1</strong></div>
                <div class="col-1 p-4 border text-center bg-primary">60 BGN</div>
                <div class="col-1 p-4 border text-center bg-primary">60 BGN</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border text-center bg-secondary">Yotko K</div>
                <div class="col-1 p-4 border rounded-right text-center bg-secondary">Yotko K</div>
            </div>
            <div class="row text-light">
                <div class="col-1 p-4 border rounded-left text-center text-dark"><strong>Lilly 2</strong></div>
                <div class="col-1 p-4 border text-center bg-primary">75 BGN</div>
                <div class="col-1 p-4 border text-center bg-primary">70 BGN</div>
                <div class="col-1 p-4 border text-center bg-primary">60 BGN</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border text-center bg-secondary">Petar A</div>
                <div class="col-1 p-4 border rounded-right text-center bg-secondary">Petar A</div>
            </div>
            <canvas class="my-4 w-100 " id="myChart" width="900" height="20"></canvas>
            <router-outlet></router-outlet> -->
            <full-calendar [options]="calendarOptions"></full-calendar>

            <h4 class="text-danger">New Reservations</h4>
            <div *ngIf="newReservations" class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                        <tr class="table-active">
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Apartment</th>
                            <th>Phone Number</th>
                            <th>Confirmation</th>
                            <th>Guests</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let reservation of newReservations">
                        <tr class="table-light clickable-row" routerLink="/reservations/{{ reservation.id }}">
                            <td>{{reservation.from}}</td>
                            <td>{{reservation.to}}</td>
                            <td>{{reservation.apartmentName}}</td>
                            <td>{{reservation.phoneNumber}}</td>
                            <td>{{reservation.confirmation}}</td>
                            <td>{{reservation.guests}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>