<div class="container-fluid jumbotron">
    <button *ngIf="isAdmin()" class="btn btn-primary mb-3" routerLink='create'>Create</button>
    <div class="row">
        <div class="col-lg-4 d-flex mb-2" *ngFor="let apartment of apartments">
            <a routerLink={{apartment.id}}>
                <div class="card">
                    <img [src]="apartment.mainImageUrl" class="card-img-top"
                        alt="apartment: {{apartment.name}},{{apartment.addressCity}}">

                    <div class="card-body" [ngClass]="{'bg-warning': !apartment.isCompleated}">
                        <h3 class="card-title">{{apartment.name | uppercase}}</h3>
                        <h4 class="card-title">{{apartment.addressCity}}, {{apartment.addressCountry}}</h4>
                        <h4 class="card-title" *ngIf="apartment.addressNeighborhood">{{apartment.addressNeighborhood}}
                        </h4>
                        <h4 class="card-title">{{apartment.addressStreetAddress}}</h4>
                        <br>
                        <h5 *ngIf="apartment.size">Size: {{apartment.size}}</h5>
                        <h5 *ngIf="apartment.basePrice">Base Price: {{apartment.basePrice}}</h5>
                        <h5 *ngIf="apartment.maxOccupants">Max Guests: {{apartment.maxOccupants}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>