<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="bedForm" (ngSubmit)="create('add-bed-modal')">
                <label>Choose Room</label>
                <select class="form-control mb-3" formControlName="RoomId">
                    <option disabled value="">choose room</option>
                    <option *ngFor="let room of rooms" [ngValue]="room.id">{{room.name}}</option>
                </select>
                <div *ngIf="(room.pristine && room.invalid) || (room.touched && room.invalid)"
                    class="alert alert-danger">
                    <div *ngIf="room.errors.required">Room is required.</div>
                </div>
                <label>Choose Bed Type</label>
                <select class="form-control mb-3" formControlName="BedType">
                    <option disabled value="">choose room type</option>
                    <option *ngFor="let type of bedTypes" [ngValue]="type.value">{{type.name}}</option>
                </select>
                <div *ngIf="(bedType.pristine && bedType.invalid) || (bedType.touched && bedType.invalid)"
                    class="alert alert-danger">
                    <div *ngIf="bedType.errors.required">Bed Type is required.</div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <input type="button" class="btn btn-primary ml-3" (click)="closeModal('add-bed-modal');" value="Close">
            </form>
            <br>
            <br>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>