<div *ngIf="room" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                    aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="roomForm">
                <div class="form-group mt-2">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div *ngIf="(name.pristine || name.invalid) && name.errors" class="alert alert-danger">
                    <span *ngIf="name.errors.minlength || name.errors.maxlength || name.errors.required">
                        Name should be between 1 and 30 symbols long!
                    </span>
                </div>
                <div class="form-group">
                    <label>Choose Room Type</label>
                    <select class="form-control mb-3" formControlName="roomType">
                        <option *ngFor="let type of roomTypes" [ngValue]="type.value">{{type.name}}</option>
                    </select>
                </div>
                <div *ngIf="(roomType.pristine && roomType.invalid) || (roomType.touched && roomType.invalid)"
                    class="alert alert-danger">
                    <div *ngIf="roomType.errors.required">Room Type is required.</div>
                </div>
                <div class="form-group">
                    <label>
                        <input class="mr-2" type="checkbox" [checked]="room.isSleepable === true"
                            formControlName="isSleepable">
                        Is Sleepable
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="roomForm.invalid" data-dismiss="modal"
                (click)="editRoom()">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>