<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-md-4">
            <form [formGroup]="roomForm">
                <label>Choose Room Type</label>
                <select class="form-control mb-3" formControlName="roomType">
                    <option disabled value="">choose room type</option>
                    <option *ngFor="let type of roomTypes" [ngValue]="type.value">{{type.name}}</option>
                </select>
                <div *ngIf="(roomType.pristine && roomType.invalid) || (roomType.touched && roomType.invalid)" class="alert alert-danger" >
                    <div *ngIf="roomType.errors.required">Room Type is required.</div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div *ngIf="(name.pristine || name.invalid) && name.errors" class="alert alert-danger">
                    <span *ngIf="name.errors.minlength || name.errors.maxlength || name.errors.required">
                        Name should be between 1 and 30 symbols long!
                    </span>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="sleepable" formControlName="isSleepable">
                    <label for="sleepable">Is Sleepable</label>
                </div>
                <button type="submit" class="btn btn-primary mr-2" (click)="editRoom()">Update</button>
                <input type="button" class="btn btn-primary" (click)="closeModal('edit-room-modal');" value="Close">
            </form>
            <br>
            <br>
            
        </div>
    </div>
</div>