<div *ngIf='request' class="row mt-2">
    <div class="col-lg-3"></div>
    <div class="card mb-3 col-lg-6">
        <img [src]="request.apartmentMainImageUrl" class="card-img-top" alt="Apartment {{request.apartmentName}}">

        <div class="card-body">
            <h5 class="card-title">Request: {{request.confirmation}}</h5>
            <h6 class="card-title">Apartment: {{request.apartmentName}}</h6>
            <h6 class="card-title">Dates: {{request.from | date:'mediumDate'}} - {{request.to | date:'mediumDate'}}</h6>
            <hr>
            <h6 class="card-title">Names: {{request.firstName}} {{request.lastName}}</h6>
            <h6 class="card-title">Email: {{request.email}}</h6>
            <h6 class="card-title">Phone Number: {{request.phoneNumber}}</h6>
            <hr>
            <p class="card-text">
                Adults: {{request.adults}}
                <span *ngIf="request.children > 0" class="card-title">, Children:{{request.children}}</span>
                <span *ngIf="request.infants > 0" class="card-title">, Infants:{{request.infants}}</span>
            </p>
            <p *ngIf="request.addtionalInfo" class="card-text">{{request.addtionalInfo}}</p>
            <p class="card-text">Status: <strong>{{request.status.name}}</strong></p>
            <input *ngIf="request.status.name == 'Accepted'" type="button" class="btn btn-sm btn-primary mr-2"
                value="Book">
            <input type="button" class="btn btn-sm btn-outline-primary mr-2" value="Edit">
            <input *ngIf="request.status.name != 'Canceled' && request.status.name != 'Arhived'" type="button"
                class="btn btn-sm btn-outline-primary mr-2" (click)="cancelRequest(request.id)" value="Cancel">
            <input type="button" class="btn btn-sm btn-outline-primary" routerLink="/reservations/requests"
                value="Back">
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>