<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">
                Email is required!
            </div>
            <div class="alert alert-danger" *ngIf="email.touched && email.errors?.minlength">
                Email must be at least 6 symbols.!
            </div>
            <div class="alert alert-danger" *ngIf="email.dirty && email.errors">
                Email must be a valid email address
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Send Reset Link</button>
        </form>
      </div>
  
    </div>
  </div>