<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                    aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="changePasswordForm">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">
                    Password is required.
                </div>
                <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">
                    Password must be at least 6 symbols.
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword">
                </div>
                <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors?.required">
                    New Password is required.
                </div>
                <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors?.minlength">
                    Password must be at least 6 symbols.
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" formControlName="newConfirmPassword">
                </div>
                <div class="alert alert-danger"
                    *ngIf="changePasswordForm.hasError('notSame') && newConfirmPassword.touched">
                    Passwords do not match.
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid" data-dismiss="modal"
                (click)="changePassword()">Change Password</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>