<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form [formGroup]="apartmentForm" (ngSubmit)="create()">

                <app-choose-address formControlName="Address" (onAddressIdSelected)="getAddressId($event)"></app-choose-address>
                <div *ngIf="address.touched && name.errors" class="alert alert-danger">
                    <span *ngIf="address.errors.required">
                        Address is reqired!
                    </span>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div *ngIf="(name.touched || name.dirty) && name.errors" class="alert alert-danger">
                    <span *ngIf="name.errors.minlength || name.errors.maxlength || name.errors.required">
                        Name should be between 2 and 30 symbols long!
                    </span>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" rows="4" class="form-control" formControlName="Description"></textarea>
                </div>
                <div *ngIf="(description.touched || description.dirty) && description.errors"
                    class="alert alert-danger">
                    <span *ngIf="name.errors.maxlength">
                        Description should be maximum 1000 symbols long!
                    </span>
                </div>

                <div class="form-group">
                    <label>Main Image Url</label>
                    <input type="text" class="form-control" formControlName="MainImageUrl">
                </div>
                <div *ngIf="(mainImageUrl.touched || mainImageUrl.dirty) && mainImageUrl.errors"
                    class="alert alert-danger">
                    <span *ngIf="mainImageUrl.errors.pattern">
                        Plase, add valid url address!
                    </span>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Entry</label>
                        <input type="text" class="form-control" formControlName="Entry">
                    </div>
                    <div *ngIf="(entry.touched || entry.dirty) && entry.errors" class="alert alert-danger">
                        <span *ngIf="entry.errors.maxlength">
                            Entry should be maximum 10 symbols long!
                        </span>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Floor</label>
                        <input type="text" class="form-control" formControlName="Floor">
                    </div>
                    <div *ngIf="(floor.touched || floor.dirty) && floor.errors" class="alert alert-danger">
                        <span *ngIf="floor.errors.min || floor.errors.max">
                            Floor must be between -2 and 50!
                        </span>
                        <span *ngIf="floor.errors.pattern">
                            Floor must be a number!
                        </span>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Number</label>
                        <input type="text" class="form-control" formControlName="Number">
                    </div>
                    <div *ngIf="(number.touched || number.dirty) && number.errors" class="alert alert-danger">
                        <span *ngIf="number.errors.maxlength || number.errors.minlength">
                            Number should be between 1 and 10 symbols long!
                        </span>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Size</label>
                        <input type="text" class="form-control" formControlName="Size">
                    </div>
                    <div *ngIf="(size.touched || size.dirty) && size.errors" class="alert alert-danger">
                        <span *ngIf="size.errors.min || size.errors.min">
                            Size should be between 0 and 1000 symbols long!
                        </span>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Base Price</label>
                        <input type="text" class="form-control" formControlName="BasePrice">
                    </div>
                    <div *ngIf="(basePrice.touched || basePrice.dirty) && basePrice.errors" class="alert alert-danger">
                        <span *ngIf="basePrice.errors.min || basePrice.errors.max">
                            Base price should be between 0 and 10000 symbols long!
                        </span>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>Max. Guests</label>
                        <input type="text" class="form-control" formControlName="MaxOccupants">
                    </div>
                    <div *ngIf="(maxOccupants.touched || maxOccupants.dirty) && maxOccupants.errors"
                        class="alert alert-danger">
                        <span
                            *ngIf="maxOccupants.errors.min || maxOccupants.errors.max || maxOccupants.errors.required">
                            Maximum Occupants should be between 1 and 100 symbols long!
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" [disabled]="!apartmentForm.valid">Create</button>
                    <input type="submit" class="btn btn-primary" routerLink="/apartments" value="Cancel">
                </div>
            </form>
            <br>
            <br>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>