
  #color-red:hover {
    color: red;
    font-weight: bold;
    text-decoration:line-through;
  }

  .high{
    color:rgb(2, 23, 50);
    font-weight: 700;
  }

  .medium{
    color:rgb(2, 54, 114);
    font-weight: 500;
  }

  .normal{
    color:rgb(42, 134, 235);
  }

  .low{
    color:rgb(178, 216, 255);
  }
 