<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <form [formGroup]="apartmentForm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" formControlName="description">
                </div>


                <div class="form-group">
                    <label>Main Image Url</label>
                    <input type="text" class="form-control" formControlName="mainImageUrl">
                </div>


                <div class="form-group">
                    <label>Entry</label>
                    <input type="text" class="form-control" formControlName="entry">
                </div>

                <div class="form-group">
                    <label>Floor</label>
                    <input type="text" class="form-control" formControlName="floor">
                </div>

                <div class="form-group">
                    <label>Number</label>
                    <input type="text" class="form-control" formControlName="number">
                </div>


                <div class="form-group">
                    <label>Size</label>
                    <input type="text" class="form-control" formControlName="size">
                </div>

                <div class="form-group">
                    <label>Base Price</label>
                    <input type="text" class="form-control" formControlName="basePrice">
                </div>

                <div class="form-group">
                    <label>Maximum Occupants</label>
                    <input type="text" class="form-control" formControlName="maxOccupants">
                </div>

                <div class="form-group">
                    <input type="checkbox" id="aa" formControlName="hasTerrace">
                    <label for="aa">Has Terrace</label>
                </div>


                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>