<app-create-reservation [searchApartmentForm]="searchApartmentForm" class="modal fade" id="createReservation" tabindex="-1"
    aria-labelledby="createReservationLabel" aria-hidden="true"></app-create-reservation>

<div class="card mb-3">
    <h3 class="card-header bg-info bg-gradient text-white">{{apartment.name}}</h3>
    <div class="card-body">
        <h5 class="card-title">{{apartment.addressCity}}, {{apartment.addressCountry}}</h5>
        <h6 class="card-subtitle text-muted">{{apartment.addressNeighborhood}}</h6>
        <h6 class="card-subtitle text-muted">{{apartment.addressStreetAddress}}</h6>
    </div>
    <a routerLink="/apartmentartments/{{apartment.id}}">
        <img [src]="apartment.mainImageUrl" class="card-img-bottom"
            alt="apartmentartment: {{apartment.name}},{{apartment.addressCity}}">
    </a>
    <button type="button" class="btn btn-sm btn-outline-primary m-2" data-toggle="modal" (click)="onButtonClick()"
        data-target="#createReservation">
        Request Reservation
    </button>
    <div class="card-body">
        <p class="card-text">{{apartment.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li *ngIf="apartment.mainImageUrl" class="list-group-item">{{apartment.maxOccupants}} guests</li>
        <li *ngIf="apartment.size" class="list-group-item">{{apartment.size}} sq.m</li>
        <li *ngIf="apartment.basePrice" class="list-group-item">{{apartment.basePrice}} BGN/night</li>
        <li *ngIf="apartment.basePrice" class="list-group-item">{{apartment.bedroomCount}} bedrooms -
            {{apartment.bedCount}} beds -
            {{apartment.bathroomCount}} baths</li>
        <li *ngIf="apartment.basePrice" class="list-group-item">
            <span *ngFor="let item of apartment.amenities">{{item}}</span>
        </li>
    </ul>
    <a class="card-body col-pos" *ngIf="!showMap" (click)="getMap()">Show Map</a>
    <a class="card-body col-neg" *ngIf="showMap" (click)="getMap()">Hide Map</a>
    <iframe SameSite=none *ngIf="showMap" height="400" frameborder="0" style="border:0" [src]="apartment.fullAddress"
        allowfullscreen>
    </iframe>
</div>