<div class="form-group">
    <label>Choose Address</label>
    <select #addressSelect class="form-control mb-3" (change)='onOptionsSelected(addressSelect.value)'>
        <option disabled selected value="">choose address</option>
        <option *ngFor="let ad of addresses" value="{{ad.id}}">{{ad.country}}, {{ad.city}} -
            {{ad.streetAddress}}</option>
        <option value="addAddress">add new address</option>
    </select>
    <div *ngIf="addressSelect.value=='' || addressSelect.value=='addAddress' " class="alert alert-danger">
        <span>
            Address is reqired.
        </span>
    </div>
</div>

<jw-modal id="add-address-modal">
    <div>
        <app-create-address></app-create-address>
    </div>
</jw-modal>