<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="alert alert-danger" *ngIf="username.touched && username.errors?.required">
          This field is required!
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <a (click)="openModal('forgot-password-modal')" class="form-group">Forgot your password?</a>
        </div>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">
          This field is required!
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        <hr>
        <div class="col-lg-12">
          No account?
          <span><button type="button" class="btn btn-primary btn-sm" routerLink="/register">Register</button></span>
        </div>
      </form>
    </div>

  </div>
</div>

<jw-modal id="forgot-password-modal">
  <div>
    <app-forgot-password></app-forgot-password>
  </div>
</jw-modal>