<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 pt-5">
            <div class="border rounded border-success p-2">
                <h4>Апартаменти Лили</h4>
                <h6>гр. Пловдив, 4000</h6>
                <h6>ул. Беласица 72</h6>
                <h6>тел. 0895 690730</h6>

            </div>
            <h5 class="pt-5">Изпратете ни съобщение:</h5>
            <form [formGroup]="contactForm">
                <div class="form-group">
                    <label>Имена</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div *ngIf="(name.touched || name.dirty) && name.errors" class="alert alert-danger">
                    <span *ngIf="name.errors.minlength || name.errors.maxlength || name.errors.required">
                        Name should be between 2 and 50 symbols long!
                    </span>
                </div>

                <div class="form-group">
                    <label>Имейл</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div *ngIf="(email.touched || email.dirty) && email.errors" class="alert alert-danger">
                    <span *ngIf="email.errors.email || email.errors.pattern">
                        Invalid email format.
                    </span>
                    <span *ngIf="email.errors.required">
                        Email is required.
                    </span>
                </div>

                <div class="form-group">
                    <label>Относно</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div *ngIf="(title.touched || title.dirty) && title.errors" class="alert alert-danger">
                    <span *ngIf="title.errors.minlength || title.errors.maxlength || title.errors.required">
                        Title should be between 2 and 30 symbols long!
                    </span>
                </div>
                <div class="form-group">
                    <label>Съобщение</label>
                    <textarea type="text" rows="4" class="form-control" formControlName="content"></textarea>
                </div>
                <div *ngIf="(content.touched || content.dirty) && content.errors" class="alert alert-danger">
                    <span *ngIf="content.errors.required || content.errors.minlength || content.errors.maxlength">
                        Description should be between 10 and 1000 symbols long!
                    </span>
                </div>

            </form>
            <div>
                <button type="submit" class="btn btn-primary mr-2" [disabled]="contactForm.invalid"
                    (click)="submit()">Изпрати</button>
                <input type="submit" class="btn btn-primary" routerLink="/" value="Откажи">
            </div>
            <br>
            <br>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>