<div class="bg-light pt-5 text-center">
    <h2 *ngIf="!apartments" class="title">Book an apartment in Plovdiv, Bulgaria</h2>
    <div class="row text-center">
        <div class="col-lg-10 offset-lg-1 col-md-12 text-center">
            <div class="lead">
                <form [formGroup]="searchApartmentForm" (ngSubmit)="onSubmit(searchApartmentForm)"
                    class="form-group form-group-lg" novalidate>
                    <br>
                    <div class="input-group input-group-lg">
                        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                            formControlName="startDate" class="form-control col-lg-6 col-md-7 col-sm-12"
                            placeholder="Start date" useValueAsDate>

                        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                            formControlName="endDate" class="form-control col-lg-6 col-md-7 col-sm-12"
                            placeholder="End date" useValueAsDate>
                    </div>
                    <div *ngIf="startDate.errors">
                        <span *ngIf="startDate.errors.required">
                            Start Date is required.
                        </span>
                    </div>
                    <div *ngIf="endDate.errors">
                        <span *ngIf="endDate.errors.required">
                            End Date is required.
                        </span>
                    </div>
                    <label *ngIf="searchApartmentForm.errors">{{ searchApartmentForm.errors?.dates | json }}</label>
                    <br>
                    <div class="input-group input-group-lg">
                        <select formControlName="adults" class="form-control col-lg-4 col-md-7 col-sm-12">
                            <option value="" disabled>adults(13+)</option>
                            <option *ngFor="let num of nums" [ngValue]="num">{{num}}</option>
                        </select>
                        <select formControlName="children" class="form-control col-lg-4 col-md-7 col-sm-12">
                            <option value="" disabled>children(3-12)</option>
                            <option *ngFor="let num of nums" [ngValue]="num">{{num}}</option>
                        </select>
                        <select formControlName="infants" class="form-control col-lg-4 col-md-7 col-sm-12">
                            <option value="" disabled>infants(0-2)</option>
                            <option *ngFor="let num of nums" [ngValue]="num">{{num}}</option>
                        </select>
                    </div>
                    <br>
                    <button class="btn btn-primary form-control col-lg-5 col-md-5 col-sm-12"
                        [disabled]="!searchApartmentForm.valid">Search</button>
                </form>
                <br>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="apartments">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 mb-2" *ngFor="let ap of apartments">
                <app-apartment [ap]="ap" [searchApartmentForm]="searchApartmentForm.value"></app-apartment>
            </div>
        </div>
    </div>
</div>