<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Reservation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                    aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="reservationForm">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Last Name</label>
                        <input type="text" rows="4" class="form-control" formControlName="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" formControlName="phoneNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Additional Information</label>
                        <textarea type="text" rows="2" class="form-control" formControlName="additionalInfo"></textarea>
                    </div>
                </div>
                <label>Dates</label>
                <div class="input-group input-group-lg">
                    <input type="date" class="form-control col-lg-6 col-md-7 col-sm-12" formControlName="from">
                    <input type="date" class="form-control col-lg-6 col-md-7 col-sm-12" formControlName="to">
                </div>
                <br>
                <label class="col-lg-4 col-md-7 col-sm-12">Adults</label>
                <label class="col-lg-4 col-md-7 col-sm-12">Children</label>
                <label class="col-lg-4 col-md-7 col-sm-12">Infants</label>
                <div class="input-group input-group-lg">
                    <input type="number" formControlName="adults" class="form-control col-lg-4 col-md-7 col-sm-12" />
                    <input type="number" formControlName="children" class="form-control col-lg-4 col-md-7 col-sm-12" />
                    <input type="number" formControlName="infants" class="form-control col-lg-4 col-md-7 col-sm-12" />
                </div>
                <label class="pt-2">Status</label>
                <select class="form-control mb-3" formControlName="status">
                    <option *ngFor="let type of reservationStatuses" [ngValue]="type.value">{{type.name}}</option>
                </select>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid" data-dismiss="modal"
                (click)="editReservation()">Send</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>